:root {
    /* ### Primary */

    --dark-violet: hsl(256, 26%, 20%);
    --grayish-blue: hsl(216, 30%, 68%);
    --font-dm: 'DM Serif Display';
    --font-karla: 'Karla';
    --font-style: normal;

    /* ### Neutral */

    --very-dark-violet: hsl(270, 9%, 17%);
    --dark-grayish-violet: hsl(273, 4%, 51%);
    --very-light-gray: hsl(0, 0%, 98%);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background: #2D2641; */
}

main {
    position: relative;
    /* width: 100vw; */
    overflow-x: hidden;
}

.header-container {
    width: 100vw;
    height: 5rem;
    background: white;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all ease-in-out 1s;
}

.menu-container {
    position: fixed;
    top: 80px;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #2C2830;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 40px 24px;
    gap: 24px;
    z-index: 10;
}

.menu-option {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 1.36364px;
    color: #FFFFFF;
}

.menu-button {
    padding: 9px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 1.36364px;
    color: #FFFFFF;
}

.menu-pattern {
    position: fixed;
    bottom: 0;
}


.hero-container {
    height: 100%;
}

.hero-img {
    background: #2D2641;
}

.hero-img::before {
    background-image: url('./images/image-intro-mobile.jpg');
    background-repeat: no-repeat;
    height: 450px;
    object-fit: cover;
    width: 100%;
    content: '';
    display: block;

}

.hero-content {
    padding: 93px 24px;
    background: #2D2641;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 16px;
    position: relative;
    overflow: hidden;
}

.bg-left-img {
    background: url('./images/bg-pattern-intro-left-mobile.svg') no-repeat;
    height: 300px;
    width: 100%;
    z-index: 2;
    position: absolute;
    top: 0;
}

.bg-right-img {
    background: url('./images/bg-pattern-intro-right-mobile.svg') no-repeat;
    height: 500px;
    width: 100%;
    z-index: 2;
    position: absolute;
    top: 887px;
    right: -250px;
}

.hero-title {
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -0.666667px;
    color: #FFFFFF;
    z-index: 3;

}



.hero-text {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
}

.hero-button {
    padding: 12px;
    max-width: 148px;
}

.button {
    border: 1px solid white;
    background: none;
    width: 100%;
    color: #FFFFFF;
}

.features-container {
    padding: 140px 24px;
}

.features-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}

.feature-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
}

.feature-line {
    height: 1px;
    width: 150px;
    background: #F2F2F2;
    align-self: center;
  
}

.feature-header {
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -0.666667px;
    color: #2C2830;
    margin-bottom: 40px;

}


.feature-img {
    height: 86px;
    width: 86px;
    margin-bottom: 16px;
}

.feature-title {
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
    text-align: center;
    letter-spacing: -0.388889px;
    color: #2C2830;
}

.feature-description {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #837D88;

}

@media all and (min-width: 1024px) and (max-width: 1280px) {}